{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="shortcut icon" href="{% static 'icon/a9.ico'%}" />
  <title>{% block title %}{% endblock %}</title>
  {% block styles %}{% endblock %}
  {% block pscripts %}{% endblock %}
</head>
<body>
  {% block header %}{% endblock %}
  {% block main %}{% endblock %}
  {% block footer %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>
</html>